/*
	Utilities
	----------------------------------- */

	.fw {
		&-thin {
			@include fw-thin;
		}

		&-thin-italic {
			@include fw-thin-italic;	
		}

		&-light {
			@include fw-light;
		}

		&-light-italic {
			@include fw-light-italic;
		}

		&-regular {
			@include fw-regular;
		}

		&-regular-italic {
			@include fw-regular-italic;
		}

		&-medium {
			@include fw-medium;
		}

		&-bold {
			@include fw-bold; 
		}

		&-bolder {
			@include fw-bolder; 
		}
	}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
		font-family: $font-stack-title; 
		color: map-get($colours, 'dark-blue');
	}
	
