/*
	Utilities
	----------------------------------- */

	.nowrap {
		white-space: nowrap;
	}

	.no-list {
		list-style: none;
	}

	.client-logo {
		height: 70px;
	}

	.img-full {
		max-width: 100%;
		height: auto;
		display: block;
	}






	// To port / add to elements:
	
	@media #{map-get($breakpoints, 'desktop')} {
		.mw {
			max-width: 600px;
		}
	}
	.prel {
		position: relative;
	}
	// z-index
	.zix {
		z-index: map-get($zindex, low);
	}
	.lhl {
		line-height: 27px !important;
	}

	.cb {
		clear: both;
	}