/*
	Utilities
	----------------------------------- */

	.h { // heading (so that the heading font is used)
		font-family: $heading-font;
	}

	.fs,
	%fs {
		&-xxs {
			@include font-size-map($font-sizes-xxs);
		}

		&-xs {
			@include font-size-map($font-sizes-xs);
		}

		&-s {
			@include font-size-map($font-sizes-s);
		}

		&-m {
			@include font-size-map($font-sizes-m);
		}

		&-l {
			@include font-size-map($font-sizes-l);
		}

		&-xl {
			@include font-size-map($font-sizes-xl);
		}

		&-xxl {
			@include font-size-map($font-sizes-xxl);	
		}

		&-xxxl {
			@include font-size-map($font-sizes-xxxl);
		}
	}