.btn {
	border-radius: 0;
	border: none;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	padding-top: 11px;
	padding-bottom: 9px;
	height: auto;
	@include fw-medium;
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	&-link {
		color: map-get($colours, 'pink');
		padding-left: 0;
		padding-right: 0;
		background: transparent;
		text-decoration: underline;
	}
	&-default {
		color: map-get($colours, 'pink');
	}
	&-primary {
		background: map-get($colours, 'pink');
		color: map-get($colours, 'white');
		&:hover {
			background: map-get($colours, 'purple');
			color: map-get($colours, 'white');
		}
	}
	&-secondary {
		background: map-get($colours, 'purple');
		color: map-get($colours, 'white');
		&:hover {
			background: map-get($colours, 'dark-blue');
			color: map-get($colours, 'pink');
		}
	}
}

.clickable {
	cursor: pointer;
}
.hover {
	cursor: pointer;
}
input.form-control {
	height: 38px;
	border-radius: 0;
	transition: all 0.2s ease-in-out;
}