ul.bbi_pagination {
  margin: auto;
  padding: 0px ;
  text-align: center;

    position: relative;
    right: 0;
    z-index: 11;
    bottom: 0;
    height: 40px;
    width: auto;
    float: right;
    margin-top: -40px;
}

ul.bbi_pagination li {
  margin: 0;
  padding: 0;
  display: inline;
  width: auto;
  list-style-type: none;
  list-style-image: none;
  background: none;
  white-space: nowrap;
  font-family: 'freight-big-pro', serif;
}

ul.bbi_pagination li.previous {
  float: left;
}
ul.bbi_pagination li.next {
  float: right;
  border-left: 1px solid white;
}
ul.bbi_pagination li a { 
  padding: 10px 20px;
  line-height: 40px;
  color: white;
}
ul.bbi_pagination li a:hover { 
  color: #918e68;
}