/*
	Settings
	----------------------------------- */
	
	$font-stack-title: "canada-type-gibson", Calibri, Candara, Arial, sans-serif !default;
	$font-stack-fallback: "Helvetica", "Arial", "Roboto", sans-serif !default;
	$heading-font: 'filson-soft', $font-stack-fallback;
	$base-font: 'interface', $font-stack-fallback;


	// all font weights
	// (!) we may not need all of the weights but
	// have used them for dev purposes - remove
	// as needed when going live
	@mixin fw-thin() {
		font-weight: 100;
	}

	@mixin fw-thin-italic() {
		@include fw-thin;
		font-style: italic;
	}

	@mixin fw-light() {
		font-weight: 300 !important; 
	}

	@mixin fw-light-italic() {
		@include fw-thin;
		font-style: italic;
	}

	@mixin fw-regular() {
		font-weight: 400 !important; 
	}

	@mixin fw-regular-italic() {
		@include fw-regular;
		font-style: italic;
	}

	@mixin fw-medium() {
		font-weight: 600 !important; 
	}

	@mixin fw-bold() {
		font-weight: 700 !important; 
	}

	@mixin fw-bolder() {
		font-weight: 900;
	}







