/*
	Settings
	----------------------------------- */
	
	$base-font-size--smaller: 11px !default;
	$base-font-size--small: 12px !default;

	$base-font-size: 16px !default;

	$base-font-size--large:	20px !default;

	$base-line-height: 1.4 !default;
	$base-line-height--large: 1.5 !default;


	// standard font sizes
	
	$font-sizes-xxs: (
		null: 10px
	);

	$font-sizes-xs: (
		null: 11px
	);

	$font-sizes-s: (
		null: 12px
	);

	$font-sizes-m: (
		null: ($base-font-size--small, $base-line-height),
		"desktop": ($base-font-size, $base-line-height),
		"wide": ($base-font-size, $base-line-height)
	);

	$font-sizes-l: (
		null: 18px,
		"desktop": (19px, $base-line-height),
		"wide": (20px, $base-line-height)
	);

	$font-sizes-xl: (
		null: 20px,
		"desktop": (22px, $base-line-height),
		"wide": (26px, $base-line-height)
	);

	$font-sizes-xxl: (
		null: (22px, $base-line-height),
		"tablet": (32px, $base-line-height),
		"wide": (38px, $base-line-height)
	);

	$font-sizes-xxxl: (
		null: (24px, $base-line-height),
		"tablet": (80px, $base-line-height),
		"wide": (100px, $base-line-height)
	);

	
	// custom section font sizes

	$main-nav-font-sizes: (
		null: 22px,
		"tablet": (24px, $base-line-height),
		"desktop": ($base-font-size, $base-line-height),
		"wide": (22px, $base-line-height)
	);


	$posted-font-sizes: (
		null: 15px,
		"tablet": ($base-font-size--smaller, $base-line-height)
	);






