/*
	Settings
	----------------------------------- */
	
	$colours: (
		'white': #fff,
		'off-black': #222328,
		'black': #000,
		'lightest-grey': #f0f5f6,
		'light-grey': #bebcbc,
		'grey-blue': #818da6,
		'grey': #979ead,  
		'red': #f21d44,

		// brand via psd:
		'blue': 		#2780e3,  
		'dark-blue':	#17336c,
		'turquoise': 	#57CABC,
		'pink': 		#EF3572,
		'purple': 		#7C157F,
		'lightest-blue': #f6f9fc
		
		// 'yellow': #FFD700,
		// 'light-blue': #0094e6,
		// 'dark-blue': #041533,
	);

	$adjusted-colours: (
		'blue-lightened': lighten(map-get($colours, 'blue'), 40%),
		'red-darkened': darken(map-get($colours, 'red'), 30%)
	);

	$bg-colours: map-merge($colours, $adjusted-colours);
	$text-colours: map-merge($colours, $adjusted-colours);
	
	
	// colours for specific things

	$site-bg-colour: map-get($colours, 'white'); 