/*
	Settings
	----------------------------------- */
	
	// grid
	$grid-gutter-width: 20px;
	$grid-gutter-width--half: $grid-gutter-width / 2;

	// mq breakpoints
	$screen-sm: $bootstrap-sm;
	$screen-md: $bootstrap-md;
	$screen-lg: $bootstrap-lg;
	

	$brand-primary:         map-get($colours, 'blue') !default; // #2780e3