
/*
	Components
	----------------------------------- */

	.social-nav {
		overflow: hidden;

		@media #{map-get($breakpoints, 'tablet')} {
			// width: 180px;
		}

		&__list-item {
			display: inline-block;
			float: left;

			& + & {
				margin-left: calculate-rem($base-spacing-unit);
			}
		}

		&__link {
			display: block;
			padding-left: 10px;
			padding-right: 10px;
			&:hover {
				background-color: transparent !important;
			}
		}

		&__icon {
			width: 20px;
			height: 20px;
			fill: map-get($colours, 'white');
			transition: fill .3s ease;

			&:hover {
				fill: darken(map-get($colours, 'grey-blue'), 20%);
			}
			
			// icon needs adjusting as wider than others
			&--google {
				width: 28px;
			}
		}
		&--endorse {
			border-left: 1px solid white;
			margin-left: 10px;
			padding-left: 5px;
			float: left;
			margin-top: 0;
			
			&__list-item {
				float: left;
			}
			&__icon {
				height: 24px;
				width: 24px;
				fill: map-get($colours, 'grey-blue');
				@media #{map-get($breakpoints, 'tablet')} { 
					height: 14px;
					width: 14px;
				}
			}
			&__link {
				padding: 5px !important;
				line-height: 11px !important;
				margin-right: 15px;
				@media #{map-get($breakpoints, 'tablet')} {
					margin-right: 7px;
				}
				&:focus,
    			&:hover {
					background-color: transparent !important;
					svg.social-nav--endorse__icon {
						fill: map-get($colours, 'turquoise') !important;
					}
    			}
			}
			
		} 
		&--footer {
			width: 100%;
			.social-nav__list-item {
				
				@media #{map-get($breakpoints, 'tablet')} {
					float: none;
				}
				a.social-nav__link {
					&:hover {
						svg {
							fill: map-get($colours, 'turquoise');
						}
					}
				}
			}
		}
	}
	body.fixed-nav .header .social-nav__icon {
		fill: map-get($colours, 'off-black');
	}