.content {

	@media #{map-get($breakpoints, 'desktop')} {
		padding-right: 20px;
	}
	
}








.object-grid {
	min-height: 310px;
	&__title {
		width: 100%;
		margin-bottom: 0;
	}
	&__item { 

	}
}



p {
	line-height: 23px;
	margin: 0 0 15px;
}
