.infobox {
		background: white;
		z-index: map-get($zindex, 'low'); 
		bottom: -1px;
		@media #{map-get($breakpoints, 'tablet')} {
			width: 50%;
		}
		&--abs {
			@media #{map-get($breakpoints, 'tablet')} {
				position: absolute;
			}
		}
		&--abs--br {
			@media #{map-get($breakpoints, 'tablet')} {
				bottom: 0;
				right: 0;
			}
		}
		&--full {
			width: 100% !important;
		}
		&__label {
			margin-top: 10px;
			@extend .fw-light;
		}
		&__title {
			
			@extend .fw-regular;
		}
		&__posted {
			margin: 0;
			line-height: 25px !important;
			float: left;
			padding-right: 10px;
			@include font-size-map($posted-font-sizes);
			padding-top: 5px;
			@media #{map-get($breakpoints, 'tablet')} {
				padding-top: 0;
			}

		}
		&__body {

		}
		&__footer {
			
		}
		// &__button {
		// 	float: right;
		// }
		&__link {
			position: absolute;
    		bottom: 0;
    		right: 10px;
		}
		&__header {
			text-align: center;
			position: relative;
			&__icon {
				fill: white;
				max-width: 100px;
			}
			@at-root .arrow-down {
			  width: 0; 
			  height: 0; 
			  border-left: 20px solid transparent;
			  border-right: 20px solid transparent;
			  border-top: 20px solid map-get($colours, 'blue');
			  &--tweet {
			  	position: absolute;
			  	bottom: -15px;
			  	left: 25px;
			  }
			}
		}
		
		@at-root .rating {
			
			@at-root .stars {

				.star-five {
					float: left;
					margin-right: 3px;
				}
			}
			&__source {
				clear: both;
				letter-spacing: 0.5px;
			}
		}
		// @at-root .feed {
		// 	&__row {
		// 		&--result {
		// 			border-bottom: 1px solid map-get($colours, 'light-grey');
		// 		}
		// 		&--footer {

		// 		}
		// 		&__link {
		// 			padding-left: 0 !important;
		// 			padding-right: 0  !important;
		// 			border-bottom: 1px solid map-get($colours, 'blue') !important;
		// 			padding-bottom: 0;
		// 			&:hover {
		// 				border-bottom: 1px solid map-get($colours, 'light-blue') !important;
		// 				color: map-get($colours, 'light-blue') !important;
		// 			}
		// 		}
		// 		&__twinfo {
 
		// 		}
		// 		&__body {
		// 			&--tweet {
						
		// 			}
		// 		}
		// 	}	
		// } 
		&.bgc-blue,
		&.bgc-black,
		&.bgc-off-black {
			color: white;
			.infobox__title {
				color: white
			}
			.infobox__footer {
				.social-nav--endorse {
					.social-nav--endorse__list-item {
						a.social-nav--endorse__link {
							svg.social-nav--endorse__icon {
								fill: white;
							}
						}
					}
				}
			}
		}
}



.play-button {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	margin-right: 20px;
	&__icon {
		width: 100%;
		height: 100%;
	}
	@media #{map-get($breakpoints, 'tablet')} {
		float: none;
		margin-right: 0;
	}
}

.social-info {
	float: right;

	@media #{map-get($breakpoints, 'tablet')} {
		
		float: none;
	}
}
