
/*
	Components
	----------------------------------- */
	footer,
	.footer {
		clear: both;
		font-size: 14px;
    	font-family: $font-stack-title;
		.flex__item-one-third {
			@media (max-width: 1024px) and (min-width: 768px) {
				width: 100%;
			}
		}
		.navbar-brand {
			padding-left: 0;
		}
		.footer-navbar {
			
			@media #{map-get($breakpoints, 'tablet')} {
		    	padding: 0;
				margin-left: -10px;
		    }
		}
		.navbar-toggle {
			border-color: map-get($colours, 'off-black');
			background: white;
			padding: 19px 20px;
		    margin-right: 0;
		    border-radius: 0;
			&.collapsed {

			}
			.icon-bar {
				background-color: map-get($colours, 'off-black');
			}
		}
		.navbar-nav {
			float: none;
			clear: both;
			@media #{map-get($breakpoints, 'wide')} {
		    	float: right;
		    	clear: none;
		    }
			& > li > a {
		    	// color: white;
		    	&:hover,
		    	&:active,
		    	&:focus {
		    		// color: map-get($colours, 'blue');
		    		background: transparent;
		    	}
		    	padding: 10px 15px;
		    	@media #{map-get($breakpoints, 'tablet')} {
		    		padding: 10px 7px;
		    	}
		    	@media #{map-get($breakpoints, 'desktop')} {
		    		padding: 10px 15px;
		    	}
		    }
		}

	}
	

