.block {
	transition: all ease-in-out 0.2s;
	// min-height: 550px;
	width: 100%;
	
	// &--shop {
	// 	background: url('../images/blocks/block-shop-ol.jpg');
	// }
	// &--imap {
	// 	background: url('../images/blocks/block-map-ol.jpg');
	// }
	// &--reviews {
	// 	background: map-get($colours, 'blue');
	// }
	// &--games {
	// 	background: url('../images/blocks/block-games-ol.jpg');
	// }
	// &--howto {
	// 	background: url('../images/blocks/block-howto-ol.jpg');
	// }
	// &--videos {
	// 	background: url('../images/blocks/block-videos-ol.jpg');
	// }
	// &--news {
	// 	background: url('../images/blocks/block-news-ol.jpg');
	// }
	// &--blog {
	// 	background: url('../images/blocks/block-blog-ol.jpg');
	// }
	// // sidebar:
	// &--interactive {
	// 	background: url('../images/blocks/block-sidebar-interactive.png');
	// }
	// &--videos-sbr {
	// 	background: url('../images/blocks/block-sidebar-video.jpg') bottom right;

	// }
	// &--blog-sbr {
	// 	background: url('../images/blocks/block-sidebar-blog.png');

	// }
	&--body {
		min-height: auto;
	}
	&--pic {
		min-height: auto;
		height: auto;
		img {
			width: 100%;
		}
	}
	&--box {
			
			// large-mobile
			@media #{map-get($breakpoints, 'large-mobile')} {
				// background: red;
				background-size: cover !important;
			}
			// phablet
			@media #{map-get($breakpoints, 'large-mobile')} {
				// background: green;
				min-height: 425px !important;
			}
			// small-tablet
			@media #{map-get($breakpoints, 'small-tablet')} {
				// background: yellow;
				min-height: 525px !important;
			}
			// tablet
			@media #{map-get($breakpoints, 'tablet')} {
				// background: gray;
				min-height: 345px !important; 
			}
			// desktop
			@media #{map-get($breakpoints, 'desktop')} {
				// background: pink;
				background-size: 105% !important;
				&:hover {
					background-size: 110% !important; 
				}
			}
			// wide
			@media #{map-get($breakpoints, 'wide')} {
				// background: purple;
				min-height: 410px !important; 
			}
			
			// bespoke
			@media (min-width: 1520px) {
				
				min-height: 535px !important; 
			}

			// wider
			@media #{map-get($breakpoints, 'wider')} {
				// background: blue;
			}
			// widest
			@media #{map-get($breakpoints, 'widest')} {
				// background: orange;
			}
		

	}

	

	@at-root .sidebar .infobox {
		@media #{map-get($breakpoints, 'tablet')} {
			width: 66%;
		} 

	}
	blockquote {
		border-left: none;
		padding: 10px 0;
	}
}