.sidebar {
	@media #{map-get($breakpoints, 'desktop')} {
		padding-left: 20px;
		padding-right: 20px;
		background: map-get($colours, 'grey');
	}
	
	&__title {
		margin: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}