
// /*
//  to sort - wip
// 	----------------------------------- */



	body .header .navbar-brand img.logo-white {
		opacity: 1;
		display: block;
	}
	body .header .navbar-brand img.logo-black {
		opacity: 0;
		display: none;
	}

	body.fixed-nav .header .navbar-brand img.logo-white {
		opacity: 0;
		display: none;
	}
	body.fixed-nav .header .navbar-brand img.logo-black {
		opacity: 1;
		display: block;
	}
	
	.logo-svg {
		width: 142px;
		height: 40px;
	}

