.spotlight {
	background: whitesmoke;
	&__slide {
		@media #{map-get($breakpoints, 'tablet')} {
			min-height: 350px;
		}
		@media #{map-get($breakpoints, 'desktop')} {
			min-height: 450px;
		}
		@media #{map-get($breakpoints, 'wide')} {
			min-height: 700px;
		}
		@media #{map-get($breakpoints, 'wider')} {
			min-height: 850px;
		}
		@media #{map-get($breakpoints, 'widest')} {
			min-height: 950px;
		}
		
		background-size: cover !important;
		background-position: bottom right !important;
		&--1 {
			background: url('../images/spotlights/spotlight-slide-1-nol-lg.jpg');
		}
		&--2 {
			background: url('../images/spotlights/spotlight-slide-2-nol-lg.jpg');
		}
		&--3 {
			background: url('../images/spotlights/spotlight-slide-3-nol-lg.jpg');
		}
		&--full { 
			&--1 {
				background: url('../images/spotlights/pct-spotlight-northern_lights-ol30bk.jpg') center center;
			}
			&--2 {
				background: url('../images/spotlights/spotlight-slide-london-full-wol.jpg') center center;
			}
			&--3 {
				background: url('../images/spotlights/spotlight-slide-taxi-full-30op.jpg') center center;
			}
			&--contact {
				background: url('../images/spotlights/spotlight-slide-map-full-wol.jpg') center center;
			}
			width: 100%;
			background-position: center center !important;
		}
		&--short {
			@media #{map-get($breakpoints, 'tablet')} {
				min-height: 250px;
			}
			@media #{map-get($breakpoints, 'desktop')} {
				min-height: 450px;
			}
			@media #{map-get($breakpoints, 'wide')} {
				min-height: 550px;
			}
			@media #{map-get($breakpoints, 'wider')} {
				min-height: 550px;
			}
			@media #{map-get($breakpoints, 'widest')} {
				min-height: 550px;
			}
		}
	}
	@at-root .slide { 
		position: relative;
		&__title { 
			color: map-get($colours, 'white');
			@include fw-regular;
			z-index: map-get($zindex, 'lower');
			position: relative;
		}
		&__text {
			color: map-get($colours, 'white');
			transition: all ease-in-out 0.5s;
			z-index: map-get($zindex, 'lower');
			position: relative;
			@media #{map-get($breakpoints, 'desktop')} {
				opacity: 0;
				height: 0px;
				overflow: hidden;
			}

		}
		&__link {
			position: relative;
			@media #{map-get($breakpoints, 'desktop')} {
				height: 0px  !important;
				overflow: hidden;
				opacity: 0;
			}
			
			transition: all ease-in-out 0.5s;
			z-index: map-get($zindex, 'lower');
			&:hover {
				color: map-get($colours, 'light-blue') !important;
			}
		}

	
		transition: all ease-in-out 0.5s;

		@media #{map-get($breakpoints, 'desktop')} {
			&.clickable.hover {
				.slide__link {
					height: 40px !important;
					overflow: hidden;
					// display: block;
					opacity: 1;
					color: map-get($colours, 'light-blue') !important;
				}
				.slide__text {
					height: 19.5%;
					transition: all ease-in-out 0.5s;
					overflow: hidden;
					opacity: 1;
					// display: block;
				}
				.spotlight--overlay--40bk {
					background: rgba(0, 0, 0, 0.4); 
				}
				.spotlight--overlay--30bk {
					background: rgba(0, 0, 0, 0.3); 
				}
			}
		}
	}
	&--overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: map-get($zindex, 'lowest');
		transition: all ease-in-out 0.5s;
		&--40bk {
			background: rgba(0, 0, 0, 0.4); 
			@media (max-width: 768px) { 
				background: rgba(0, 0, 0, 0.83); 
			}
		}
	}
}






.sidebar .block {
	background-size: cover !important;
	&:hover {
		background-size: cover !important;
	}
}

.block {
	background-position: center center !important;
}

.spotlight__slide--full {
	background-size: cover !important;
}
// .spotlight__slide--full.hover.clickable {
// 	background-size: 128% !important;
// }
// 


