.navbar-primary {
	border-radius: 0;
	border: none;
	background: transparent;
	margin: 25px 0 0 0;
	font-family: $font-stack-title;
	.navbar-collapse {
    	@media #{map-get($breakpoints, 'tablet')} {
			padding-right: 0;
    		padding-left: 0;
		}
		
		ul.nav.navbar-nav {
			@media #{map-get($breakpoints, 'desktop')} {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			li {
				a {
					@extend .fw-regular;
					@extend .fs-s;
					text-transform: uppercase;
					color: map-get($colours, 'white');
					background: map-get($colours, 'lightest-grey');
					&:hover {
						color: map-get($colours, 'white');
						background: map-get($colours, 'pink') !important; 
					}
					@media #{map-get($breakpoints, 'tablet')} {
						background: transparent;
						padding: 10px 10px;
					}
					@media #{map-get($breakpoints, 'desktop')} {
						
						padding: 10px 25px;
					}
				}
				&.active {
					a {
						background: map-get($colours, 'pink') !important;
					}
				}
			}
		} 
	}
	.navbar-header {
		.navbar-toggle {
			border-radius: 0;
			border-color: map-get($colours, 'off-black');
			padding: 19px 20px;
			margin-right: 0;
			background: white;
			&.collapsed {

			}
			.icon-bar {
				background-color: map-get($colours, 'off-black');
			}
		}
	}
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}



// body .navbar-fixed-top.header {
// 	background: black;
// 	background: rgba(0,0,0, 0.4);
// }

// body.fixed-nav .navbar-fixed-top.header {
// 	background: white;
// 	background: rgba(255,255,255, 0.85);
// }


// .navbar-dashboard-wrap {
	
// 	@media #{map-get($breakpoints, 'tablet')} {
// 		height: 100px;
// 	}
// 	width: 100%;
// }

.header {
	.navbar-primary {
		@media #{map-get($breakpoints, 'tablet')} {
			float: right;
		}
		
	}
}
// .main {
// 	.navbar-primary {
// 		@media #{map-get($breakpoints, 'tablet')} {
// 			padding-top: 40px;
// 		}
		
// 	}
// }


body .navbar-fixed-top.header {
	background: black;
	background: rgba(0,0,0, 0);
}

body.fixed-nav .navbar-fixed-top.header {
	background: white;
	background: rgba(255,255,255, 0.95);
}

body.fixed-nav .navbar-primary .navbar-collapse ul.nav.navbar-nav li:not(.active) a {
	color: map-get($colours, 'dark-blue');
	color: map-get($colours, 'turquoise');
	&:hover {
		color: white;
	}
}

.navbar-brand {

	@media #{map-get($breakpoints, 'tablet')} {
		padding-left: 0;
		height: auto;
	}
	
}
