/*
	Tools
	----------------------------------- */

	@mixin aspect-ratio($width, $height, $singleChild: true) {
		position: relative;

		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: ($height / $width) * 100%;
		}

		@if $singleChild == true { 
			> * {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}