
/*
	Components
	----------------------------------- */

	.selection-grid {

		$selectionItemSelector: null;

		&__item {

			$selectionItemSelector: &;

			min-height: calculate-rem(300px);
			
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			@media #{map-get($breakpoints, 'tablet')} {
				min-height: 0;
				display: block;
			}

			@media #{map-get($breakpoints, 'desktop')} {
				overflow: hidden;
			}

			&--one-third {
				@media #{map-get($breakpoints, 'tablet')} {
					@include aspect-ratio(1, 2);	
				}
			}

			&--two-thirds {
				@media #{map-get($breakpoints, 'tablet')} {
					@include aspect-ratio(2, 1);
				}
			}

			&--one-whole {
				@media #{map-get($breakpoints, 'tablet')} {
					@include aspect-ratio(3, 1);
				}
			}
		}

		&__cover {
			background: map-get($bg-colours, 'blue');;
			transition: all $base-transition;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			opacity: .6;

			@media #{map-get($breakpoints, 'desktop')} {
				opacity: 1;
			}

			&--left-2-right {
				@media #{map-get($breakpoints, 'desktop')} {
					right: 100%;

					@at-root {
						#{$selectionItemSelector}:hover & {
							right: 0;
						}
					}	
				}
			}

			&--right-2-left {
				@media #{map-get($breakpoints, 'desktop')} {
					left: 100%;

					@at-root {
						#{$selectionItemSelector}:hover & {
							left: 0;
						}
					}
				}
			}

			&--top-2-bottom {
				@media #{map-get($breakpoints, 'desktop')} {
					top: 100%;

					@at-root {
						#{$selectionItemSelector}:hover & {
							top: 0;
						}
					}
				}
			}

			&--bottom-2-top {
					@media #{map-get($breakpoints, 'desktop')} {
					bottom: 100%;

					@at-root {
						#{$selectionItemSelector}:hover & {
							bottom: 0;
						}
					}
				}
			}
		}

		&__item-inner {
			position: relative;

			@media #{map-get($breakpoints, 'tablet')} {
				position: absolute;
			}
		}

		&__copy {
			@media #{map-get($breakpoints, 'desktop')} {
				opacity: 0;
				transform: translateX(1em);
				transition: all $base-transition;
				transition-delay: $base-transition-time / 3;
			}

			@at-root {
				#{$selectionItemSelector}:hover & {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}

		&__fake-link {
			@media #{map-get($breakpoints, 'tablet')} {
				position: absolute;
				bottom: 0;
			}
		}
	}

	
