
/*
	Components
	----------------------------------- */

	.video-intro {
		@include aspect-ratio(1920, 1080);
		max-height: 768px;
		position: relative;
		overflow: hidden;
		background-repeat: none;
		background-position: center;
		background-size: cover;

		&__video {
			display: none;
			position: absolute;
			top: 50%;
			width: 101%;
			transform: translateY(-50%);

			@media #{map-get($breakpoints, 'desktop')} {
				display: block;
			}
		}

		&__heading {
			@extend .inner-wrap-\@-sm;
			position: absolute;
			text-align: center;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
			width: 100%;
			line-height: 1.2;
			font-size: calculate-rem(20px);
			// transition: font-size .3s ease;

			@media #{map-get($breakpoints, 'phablet')} {
				font-size: 4.5vw;
				padding-left: 5vw;
				padding-right: 5vw; 
			}

			@media #{map-get($breakpoints, 'tablet')} {
				font-size: 5vw;
			}

			@media #{map-get($breakpoints, 'wider')} {
				font-size: calculate-rem(100px);
				padding-left: 10vw;
				padding-right: 10vw; 
			}
		}
	}
