
/*
	Components
	----------------------------------- */

	.testimonial {
	
		&__decorative-speech-mark {
			fill: map-get($bg-colours, 'red-darkened');
			height: calculate-rem(30px);

			@media #{map-get($breakpoints, 'desktop')} {
				height: calculate-rem(40px);
			}

			@media #{map-get($breakpoints, 'wide')} {
				height: calculate-rem(50px);
			}
		}	
	}
