
/*
	Components
	----------------------------------- */

	.contact-block {

		&__form,
		&__intro {
			@media #{map-get($breakpoints, 'tablet')} {
				width: 50%;		
			}	
		}
		
		&__heading {
			
		}

		&__copy {
			
			p {
				@extend .mb-s;

				&:last-child {
					@extend .mb-n;					
				}
			}
		}

		&__form-input {
			border-color: map-get($bg-colours, 'blue-lightened');
		}
	}
