
/*
	Components
	----------------------------------- */

	.text-intro {

		&__content {
			margin: auto;
			@media #{map-get($breakpoints, 'tablet')} {
				max-width: 70%;
			}

			@media #{map-get($breakpoints, 'desktop')} {
				max-width: calculate-rem(800px);
			}
		}
	}
