/*
	Includes
	----------------------------------- */

	// Settings - variables etc
	@import 'settings/settings';

	// Tools - mixins, functions etc
	@import 'tools/tools';

	// Generic - resets, normalize etc
	@import 'generic/generic';

	// Bootstrap - pulling in parts of bootstrap library
	@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';



	// Base - basic template 
	@import 'base/base';

	// Components - unique 'things'
	@import 'components/components';

	// Utilities - classes that do one or two things, 
	@import 'utilities/utilities';



	// DEV tempoarry - PORT / SORT THIS:
	@media (min-width: 1520px) {
    .container {
      width: 1500px;
      } 
  	}




  	.main {
  		clear: both;
  	}

  	