/*
	Base
	----------------------------------- */

	a {
		color: map-get($colours, 'highlight-green');
		text-decoration: none;
		cursor: pointer;
	}

	.cta {

		$ctaSelector: &;
		
		&__pre-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			border-radius: 100%;
			border: 2px solid currentColor;
			margin-right: .4em;
			transform: translateY(calc(50% - .4em));
			overflow: hidden;

			@media #{map-get($breakpoints, 'tablet')} {
				width: 1.8em;
				height: 1.8em;
				margin-right: .5em;
			}

			@media #{map-get($breakpoints, 'desktop')} {
				width: 2.2em;
				height: 2.2em;
				border: 3px solid currentColor;
				margin-right: .75em;
			}
		}

		&__svg-wrap {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 100%;
			overflow: hidden;

			display: inline-flex;
			justify-content: center;
			align-items: center;
		}

		&__icon-svg {
			fill: currentColor;
			width: .7em;
			height: .7em;
			transition: all $base-transition;

			@media #{map-get($breakpoints, 'tablet')} {
				width: 1em;
				height: 1em;
			}

			&--plus {
				transform: translate(0, 0);

				@at-root {
					#{$ctaSelector}:hover & { 
						transform: translate(200%, -200%);
					}
				}
			}

			&--arrow {
				transform: translate(-200%, 200%);

				@at-root {
					#{$ctaSelector}:hover & { 
						transform: translate(0, 0);
					}
				}
			}
		}
	}