/*
	Base
	----------------------------------- */
	
	.responsive-img {
		display: block;
		width: 100%;
		height: auto;
	}

	.responsive-img-restricted {
		@media #{map-get($breakpoints, 'tablet-max')} {
			display: block;
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}