/*
	Base
	----------------------------------- */

	.form {

		&__item {

		}
		
		&__list {
			
		}

		&__label {
			display: block;
		}

		&__input,
		&__textarea {
			background: map-get($colours, 'lightest-blue');
			border: none;
			display: block;
			width: 100%;
			box-shadow: none;
			text-transform: uppercase;
			@extend .fw-bold;
		}

		&__button {
			background: transparent;
			appearance: none;
			border: 0;
			padding: 0;
			border-bottom: 1px solid currentColor;
		}
		&__list-item {
			&--captcha {
				border-top: 5px solid map-get($colours, 'lightest-blue');

			}
		}
	}