/*
	Base
	----------------------------------- */

	.flex {
		
		@media #{map-get($breakpoints, 'tablet')} {
			display: flex;
			flex-wrap: wrap;
		}

		&__item-one-third {
			@media #{map-get($breakpoints, 'tablet')} {
				width: 33.333%;
			}
		}

		&__item-one-half {
			@media #{map-get($breakpoints, 'tablet')} {
				width: 50%;
			}
		}

		&__item-two-thirds {
			@media #{map-get($breakpoints, 'tablet')} {
				width: 66.666%;
			}
		}

		&__item-one-whole {
			@media #{map-get($breakpoints, 'tablet')} {
				width: 100%;
			}
		}
		&--fe {
			align-content: flex-end;
		}
		&--dc {
			flex-direction: column;
		}
		&--tl {
			justify-content: flex-start;
    		align-items: flex-start;
		}
		&--tr {
			justify-content: flex-end;
    		align-items: flex-start;
		}
		&--br {
			justify-content: flex-end;
    		align-items: flex-end;
		}
		&--jcfe {
			justify-content: flex-end; 
		}
		&--jcc {
			justify-content: center; 
		}
		&--jcsa {
			justify-content: space-around;
		}
		&--jcsb {
			justify-content: space-between; 
		}
		&--asfs {
			align-self: flex-start;
		}
		&--aic {
			align-items: center;
		}
		&--acfs {
			align-content: flex-start;
		}
		&--acsb {
			align-content: space-between;
		}
		&--grow {
			flex-grow: 1;
		}
		&--aifs {
			align-items: flex-start;
		}
		&--aife {
			align-items: flex-end;
		}
	}
