/*
	Base
	----------------------------------- */

	html {
		font-size: $base-font-size;
	}

	body {
		background: #fff;
		color: map-get($colours, 'grey-blue');
		font-family: $base-font;
		line-height: $base-line-height;
		@include fw-regular;
	}

	.section-wrap {
		max-width: 1740px;
		margin-right: auto;
		margin-left: auto; 
	}

	.inner-wrap-\@-sm {
		@media #{map-get($breakpoints, "tablet-max")} {
			padding-right: $grid-gutter-width;
			padding-left: $grid-gutter-width;
		}
	}

	// mini bootstrap reset for small screens
	.row,
	[class*="col-"] {
		@media #{map-get($breakpoints, "tablet-max")} {
			margin-right: 0;
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}	
	}



	a, button {
	    transition: all .3s ease-in-out;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	}

	blockquote {
		border-left: 0;
		padding-left: 0;
		padding-right: 0;
		font-family: $font-stack-title;
		@include fw-regular;
	}





